img {height:300px;}

.background {background-color:#FFF5D6;
             height:100vh;
             margin:0px;}

.center { padding-top:10rem;}

.resize {max-width:40%;
         margin-left:auto;
         margin-right:auto;}
.myNav {
         font-family: 'Roboto', sans-serif;
         background-color:#690000 ;
         box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
         margin:0px;
}

.nav-link{
    margin-top:1rem;
    margin-bottom:1rem;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    color: white !important;
  }

.logo { font-weight: bold; }

.nav-link:hover{
    color: #120000 !important;
  }
.App {
  text-align: center;
  margin:0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
